# VS directory
/.vs/

# VS user settings file
/linecnt.vcxproj.user

# VS resource compiler output
/linecnt.aps

# VS build directories
/x64/Debug/
/x64/Release/

# generated lexer scanner
/cpplexer_scanner.inc

