#define STRICT
#include <windows.h>

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 2,0,0,0
 PRODUCTVERSION 2,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x29L
#else
 FILEFLAGS 0x28L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments", " \0"
            VALUE "CompanyName", "Stone Steps Inc.\0"
            VALUE "FileDescription", "\0"
            VALUE "FileVersion", "2.0\0"
            VALUE "InternalName", "linecnt.exe\0"
            VALUE "LegalCopyright", "Copyright © 2015 Stone Steps Inc.\0"
            VALUE "LegalTrademarks", " \0"
            VALUE "OriginalFilename", "linecnt.exe\0"
            VALUE "PrivateBuild", " \0"
            VALUE "ProductName", " \0"
            VALUE "ProductVersion", "2.0\0"
            VALUE "SpecialBuild", " \0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
